html, body{
  height: 100%;
  width: 100%;
}

.height-adjust{

  height: 50%;

}

#top-contain{
  background-color: #4ba405;

}
#banner-top{
  background-color: #a4a405;
  height: 100%;
  background-image: url(https://i.ytimg.com/vi/ttz4Sr0tZFg/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


#page-content{

  background-color: #2f73bb;
  height: 59.5%;
}


.navbar-nav li{

  display: inline-block;
  float: none;

}
